@font-face {
  font-family: 'brie_lightregular';
  src: url('../assets/fonts/bri293-webfont.eot');
  src: url('../assets/fonts/bri293-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/bri293-webfont.woff2') format('woff2'), url('../assets/fonts/bri293-webfont.woff') format('woff'), url('../assets/fonts/bri293-webfont.ttf') format('truetype'), url('../assets/fonts/bri293-webfont.svg#brie_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
nav #logo {
  width: 51px;
  height: 51px;
  top: -12px;
  position: relative;
}
nav a.nav-item {
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body {
  padding-top: 70px;
}
body h1 {
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  margin-top: 0;
}
body .carousel h1 {
  margin-bottom: 0;
}
body .how-slide-container {
  padding: 30px 5% 70px 5%;
}
body .how-slide-img-container img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 768px) {
  body .how-slide-img-left-container {
    padding-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  body .how-slide-img-right-container {
    padding-left: 50px;
  }
}
@media screen and (min-width: 768px) {
  body .how-slide-text-container {
    padding-top: 50px;
  }
}
body .how-slide-text-container h3 {
  text-align: center;
}
body .how-slide-text-container p {
  color: #ffffff;
}
body #details-container {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  body #details-container {
    padding-top: 50px;
  }
}
body #details-container h4 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}
body #details-assets {
  padding-bottom: 20px;
}
body #details-assets img {
  max-width: 100%;
  max-height: 100%;
}
body #how-business-container {
  background-color: #ff9500;
}
body #how-business-container h3 {
  color: #653000;
}
body #how-customer-container {
  background-color: #653000;
}
body #how-customer-container h3 {
  color: #ff9500;
}
body #features-container h1 {
  color: #000000;
}
body #features-container p {
  text-align: center;
}
@media screen and (min-width: 768px) {
  body #features-container #huge-free {
    font-size: 20rem;
  }
}
@media screen and (max-width: 768px) {
  body #features-container #huge-free {
    font-size: 15rem;
  }
}
body #features-container p:last-child {
  padding-bottom: 50px;
}
body #about-container {
  background-color: #ff9500;
  padding-left: 3em;
  padding-right: 3em;
}
body #about-container p {
  text-align: center;
  color: #ffffff;
  margin: 30px 0;
}
body #about-container a {
  font-style: italic;
  color: #653000;
}
body #about-container div.profile img {
  width: 75%;
}
@media screen and (min-width: 768px) {
  body #about-container form {
    padding: 0 5%;
  }
  body #about-container form .row {
    margin: 5px 0;
  }
}
body #about-container form .row input,
body #about-container form .row select {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: solid 2px #de8200;
  color: #ffffff;
}
body #about-container form .row .required-field {
  color: #653000;
}
body #about-container form span,
body #about-container form h6 {
  color: #ffffff;
}
body #about-container form h4 {
  color: #653000;
}
body #about-container form #signup-submit-container {
  text-align: center;
  padding: 3rem 0 1rem 0;
}
body #about-container form #signup-submit-container input[type="submit"] {
  width: 80%;
  background: none;
  border: solid 2px #ffffff;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
body #contact-container {
  background-color: #653000;
  text-align: center;
  padding-bottom: 50px;
}
body #contact-container a,
body #contact-container h3 {
  color: #ffffff;
}
body #contact-container p {
  text-align: center;
  color: #ffffff;
  margin: 10px 0;
}
@media screen and (min-width: 768px) {
  body #signup-confirmation-container {
    padding: 0 10rem;
  }
}
body #signup-confirmation-container a {
  text-decoration: underline;
  color: #ff9500;
  padding: 3rem 0;
  display: inline-block;
}
body #signup-confirmation-container .row div:first-child {
  font-weight: bold;
}
