@font-face {
  font-family: 'brie_lightregular';
  src: url('assets/fonts/bri293-webfont.eot');
  src: url('assets/fonts/bri293-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/bri293-webfont.woff2') format('woff2'), url('assets/fonts/bri293-webfont.woff') format('woff'), url('assets/fonts/bri293-webfont.ttf') format('truetype'), url('assets/fonts/bri293-webfont.svg#brie_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
nav #logo {
  width: 50px;
  height: 50px;
  top: -15px;
  left: -15px;
  position: relative;
}
nav a.nav-item {
  font-weight: bold;
  border-bottom: 1px #eee solid;
}
body {
  background-color: #f7f7f7;
}
body #details-assets img {
  max-width: 100%;
  max-height: 100%;
}
