@font-face {
  font-family: 'brie_lightregular';
  src: url('../assets/fonts/bri293-webfont.eot');
  src: url('../assets/fonts/bri293-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/bri293-webfont.woff2') format('woff2'), url('../assets/fonts/bri293-webfont.woff') format('woff'), url('../assets/fonts/bri293-webfont.ttf') format('truetype'), url('../assets/fonts/bri293-webfont.svg#brie_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
nav #logo {
  width: 51px;
  height: 51px;
  top: -12px;
  position: relative;
}
nav a.nav-item {
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body {
  padding-top: 70px;
}
body .how-slide-container {
  padding: 30px 5% 70px 5%;
}
body .how-slide-img-container img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 768px) {
  body .how-slide-img-left-container {
    padding-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  body .how-slide-img-right-container {
    padding-left: 50px;
  }
}
@media screen and (min-width: 768px) {
  body .how-slide-text-container {
    padding-top: 100px;
  }
}
body .how-slide-text-container h3 {
  text-align: center;
}
body .how-slide-text-container p {
  color: #ffffff;
}
body #details-container {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  body #details-container {
    padding-top: 50px;
  }
}
body #details-container h4 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}
body #details-assets {
  padding-bottom: 20px;
}
body #details-assets img {
  max-width: 100%;
  max-height: 100%;
}
body #how-business-container {
  background-color: #ff9500;
}
body #how-business-container h3 {
  color: #653000;
}
body #how-customer-container {
  background-color: #653000;
}
body #how-customer-container h3 {
  color: #ff9500;
}
